.book-details{
    padding: 10px;
    width: 45%;
    padding-left: 20px;
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.book-cover{
    width: 30%;
    height: 300px;
    margin-top: 30px;
    margin-left: 35%;
    border: solid 1px gray;
    padding: 5px;
    object-fit: contain;
    padding-bottom: 30px;
}
.price-buy{
    width: 40%;
    padding-right: 5rem; 
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.prices-discount{
    padding: 10px;
    display: flex;
    align-items: center;    
}
.buy-now{
    padding: 10px;
    width: 100%;
    margin-left:75px;
}
.total-pay{
    padding: 10px;
    font-size: 23px;
    height: 100px;
    margin-top: 12%;
    margin-left: 20px;
}
.descp-book{
    width: 95%;
    height: 320px;
    margin:50px;
    border-radius: 20px;
    position: relative;
    margin-left: 2.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-book{
    padding: 10px;
    margin-left: 10px;
}
.Preface{
    top: 0;
    left: 0;
    width: 90px;
    height: 35px;
    border-bottom-right-radius:20px;
    border-top-left-radius: 20px;
    background-color: #F59E0B;
}
.remove-add-book{
    display: flex;
    justify-content: space-between;
    margin-left:10px;
}