.nav-bar{
    width: 100%;
    background-color:white;
    position: sticky;
    z-index: 1000;
    overflow: hidden;
    top: 0;
    display: flex;
}
ul{
    margin-top: 2.1%;
    display: flex;
    margin-left:25%;
    list-style: none;
}
li{
    margin: 10px;
    font-size: 18px;
    color: gray;
}